{% extends 'base.html' %}

{% block section %}

<section id="create-movie" class="py-5 my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">

        <div class="card shadow-lg border-0 rounded-4">
          <div class="card-header bg-primary text-white text-center py-3">
            <h3 class="mb-0">Login</h3>
          </div>

          <div class="card-body p-4">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <!-- Movie Name -->
              <div class="mb-3">
                <label for="name" class="form-label fw-bold">Email</label>
                <!-- <input type="text" id="name" name="name" class="form-control" placeholder="Enter movie name" required> -->
                 {{form.email}}
                 {% if form.email.errors %}
                 <p class="text-danger small">{{form.email.errors.0}}</p>
                 {% endif %}
              </div>

              <!-- Banner Image -->
              <div class="mb-3">
                <label for="photo" class="form-label fw-bold">Password</label>
                <!-- <input type="file" id="photo" name="photo" class="form-control" required> -->
                 {{form.password}}
                  {% if form.password.errors %}
                 <p class="text-danger small">{{form.password.errors.0}}</p>
                 {% endif %}
              </div>

              <div class="d-flex justify-content-end mt-4 btn-wrap">
                <button type="submit" class="btn btn-outline-accent btn-accent-arrow">
                  Login<i class="icon icon-ns-arrow-right"></i>
                </button>
              </div>
              {% if error%}
              <p class="text-danger text-center small">{{error}}</p>
              {% endif %}
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}