{% extends 'base.html' %}

{% block section %}

<section id="create-movie" class="py-5 my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">

        <div class="card shadow-lg border-0 rounded-4">
          <div class="card-header bg-primary text-white text-center py-3">
            <h3 class="mb-0">Verify Phone OTP : enter otp sent to {{user.phone}}</h3>
          </div>

          <div class="card-body p-4">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <!-- Movie Name -->
              <div class="mb-3">
                <label for="name" class="form-label fw-bold">OTP</label>
                <!-- <input type="text" id="name" name="name" class="form-control" placeholder="Enter movie name" required> -->
                 {{form.otp}}
                 {% if form.otp.errors %}
                 <p class="text-danger small">{{form.otp.errors.0}}</p>
                 {% endif %}
              </div>


              <div class="d-flex justify-content-end mt-4 btn-wrap">
                <button type="submit" class="btn btn-outline-accent btn-accent-arrow">
                  Verify<i class="icon icon-ns-arrow-right"></i>
                </button>
              </div>
              {% if error %}
              <p class="small" style="color: red;">{{error}}</p>
              {% endif %}
            </form>
            <div class="text-center">
              <p id="timer"></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<script>
    let timeLeft = parseInt('{{ remaining_time|default:0 }}');
    let timerElement = document.getElementById('timer');

    function updateTimer() {
        if (timeLeft <= 0) {
            timerElement.innerHTML = `
            <a class="btn btn-primary mt-3" href='{% url 'verify-otp' %}'>Resend OTP</a>
                `;
        } else {
            let minutes = Math.floor(timeLeft / 300);
            let seconds = timeLeft % 300;
            timerElement.innerText = `Time left: ${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
            timeLeft--;
            setTimeout(updateTimer, 1000);
        }
    }

    updateTimer();
</script>

{% endblock %}