{% extends 'base.html' %}

{% block section %}

<section class="container my-4">
  <div class="card p-4 shadow-sm">
    <div class="d-flex justify-content-between align-items-center">
     <h4 class="mb-3">Profile Details</h4>
     <a href="{% url 'password-otp'%}" class="btn btn-primary btn-rounded">Change Password</a>
    </div>
    
    <div class="row mb-2">
      <div class="col-md-4 fw-bold">Name:</div>
      <div class="col-md-8">{{user.first_name}} {{user.last_name}}</div>
    </div>
    
    <div class="row mb-2">
      <div class="col-md-4 fw-bold">Email:</div>
      <div class="col-md-8">{{user.email}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4 fw-bold">Phone Number:</div>
     <div class="col-md-8">{% if user.phone and user.phone_verified %}{{ user.phone }}{% else %}<span class="mx-4"><a href="{% url 'add-phone' %}"><i class="fa fa-plus"></i>Add</a></span></div>{% endif %}
    </div>
  </div>
</section>


{% endblock %}